.weathertilerow { 
    display: flex;
  justify-content: center;
  text-align: center;
  }
  
  .weathertilerow * {
    margin-right: 2%;
    display: flex;
    flex-direction: column; /* Make children stack vertically */
    display: flex;
  justify-content: center;
  text-align: center;

  }

  .weathertile {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #918f8f;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1; /* Make the child div expand to fill the available space */
    min-width: 50px;
    max-width: 100px;
  }
  
  .weathertile img {
    max-width: 100px;
    height: auto;
  }